@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0D0D0D;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.triangle:before {
  content: '';
  display: block;
  width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 24px solid #1D1C1C;
  position: absolute;
  left: 20px;
  top:-20px;
}


.footerIcons:hover{
  color: #ffffff !important;
}